.mainContent{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logoAndBrand{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 360px;
    height: 353px;
}
p{
    padding: 0%;
    margin: 0%;
}
a{
    padding: 0%;
    margin: 0%;
}
.description{
    text-align: start;
}
.brandName{
    font-weight: bold;
    font-size: 42px;
    opacity: 95%;
}
.brandDesc{
    width: 900px;
    margin: 20px 0px;
    font-weight: bold;
    color: #555555;
    font-size: 22px;
    ;text-align: justify;
}
.socialTitle{
    margin: 20px 0px;
    font-size: 26px;
    opacity: 90%;
    font-weight: 400;
    text-align: left;
}

.socialLinksDiv{
    display: flex;
    gap: 25px;
    align-items: start;
    flex-direction: row;
}

.linkedIn{
    width: 45px;
    height: 45px;
    opacity: 80%;
}

.gmail{
    width: 43px;
    height: 43px;
    opacity: 80%;
}

.instagram{
    width: 39px;
    height: 39px;
    opacity: 80%;
}
.copyright{
    position: fixed;
    text-align: center;
    bottom: 20px;
    font-weight: 600;
    width: 100%;
    color: #555555;
}