@font-face{
  font-family: "Poppins";
  src:local("Poppins-Regular"),
  url('./assets/fonts/Poppins-Regular.ttf') 
}
:root {
  padding: 0px !important;
  margin: 0px !important;
  height: 100% ;
}


body {
  padding: 0px !important;
  margin: 0px !important;
  font-family: "Poppins";
  color: #000000;
  background-color: #FFFFFF;
  height: 100% ;
}
#root {
  padding: 0px !important;
  margin: 0px !important;
  height: 100% ;
}
