@font-face{
  font-family: "Poppins";
  src:local("Poppins-Regular"),
  url('./assets/fonts/Poppins-Regular.ttf') 
}
:root {
  font-family: "Poppins";
  padding: 0px !important;
  margin: 0px !important;
  color: #000000;
  background-color: #FFFFFF;
}


body {
  padding: 0px !important;
  margin: 0px !important;
  min-height: 100vh;
}
#root {
  padding: 0px !important;
  margin: 0px !important;
}
